# Study kasus analisis data sales

In [2]:
import pandas as pd
import os
import glob
os.chdir("./data_analis")

### Gabung 12 laporan file ke 1 laporan

In [6]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "data_setahun.csv", index=False, encoding='utf-8-sig')

In [56]:
df = pd.read_csv('data_analis/Sales_January_2019.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data_analis/Sales_January_2019.csv'

In [55]:
##baca data yang sudah jadi setahun    
data_setahun = pd.read_csv('./data_setahun.csv')

print(data_setahun['Product'])

0               USB-C Charging Cable
1                                NaN
2         Bose SoundSport Headphones
3                       Google Phone
4                   Wired Headphones
                     ...
373695        AAA Batteries (4-pack)
373696                        iPhone
373697                        iPhone
373698        34in Ultrawide Monitor
373699          USB-C Charging Cable
Name: Product, Length: 373700, dtype: object

### Menambah data dengan menambah kolom

In [57]:
#tambah kolom bulan
data_setahun['Month'] = data_setahun['Order Date'].str[0:2]
data_setahun.tail(100)
data_setahun.iloc[0:4]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

### Cleaning Data

In [58]:
nan_df = data_setahun[data_setahun.isna().any(axis = 1)]
nan_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#menghapus NaN data
data_setahun = data_setahun.dropna(how = 'all')
data_setahun.head(520)

#menghapus or di month

data_setahun_temp = data_setahun[data_setahun['Order Date'].str[0:2] == 'Or']
data_setahun_temp.head(520)

data_setahun = data_setahun[data_setahun['Order Date'].str[0:2] != 'Or']
data_setahun.head(520)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
...,...,...,...,...,...,...,...
517,177053,Wired Headphones,1,11.99,04/24/19 20:45,"5 Adams St, Boston, MA 02215",04
518,177054,Apple Airpods Headphones,1,150,04/09/19 19:18,"800 Jackson St, Atlanta, GA 30301",04
520,177055,Lightning Charging Cable,1,14.95,04/09/19 12:37,"59 Forest St, Atlanta, GA 30301",04
521,177056,Flatscreen TV,1,300,04/20/19 23:52,"180 9th St, San Francisco, CA 94016",04
522,177057,Bose SoundSport Headphones,1,99.99,04/09/19 08:57,"585 Cherry St, New York City, NY 10001",04

In [67]:
data_setahun['Quantity Ordered'] = pd.to_numeric(data_setahun['Quantity Ordered'])

data_setahun['Quantity Ordered'].dtypes
data_setahun['Price Each'] = pd.to_numeric(data_setahun['Price Each'])

data_setahun['Price Each'].dtypes

dtype('float64')

In [68]:
##tambah kolom sales
data_setahun['sales'] = data_setahun['Quantity Ordered'] * data_setahun['Price Each']
data_setahun.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99

### Pertanyaan 1 :  Bulan apa dengan pendapatan terbaik? berapa yang didapat pada bulan itu

Traceback (most recent call last):
  File "C:\Program Files\Python37-32\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Program Files\Python37-32\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\yazid\AppData\Roaming\Python\Python37\site-packages\jupyter.py", line 10, in <module>
    run_module('jupyter_core')
  File "C:\Program Files\Python37-32\lib\runpy.py", line 208, in run_module
    return _run_code(code, {}, init_globals, run_name, mod_spec)
  File "C:\Program Files\Python37-32\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\yazid\AppData\Roaming\Python\Python37\site-packages\jupyter_core\__main__.py", line 3, in <module>
    main()
  File "C:\Users\yazid\AppData\Roaming\Python\Python37\site-packages\jupyter_core\command.py", line 247, in main
    command = _jupyter_abspath(subcommand)
  File "C:\Users\yazid\AppData\Roaming\Python\Python37\site-packages\jupyter_core\command.py", line 134, in _jupyter_abspath
    'Jupyter command `{}` not found.'.format(jupyter_subcommand)
Exception: Jupyter command `jupyter-trust` not found.